*{
    margin: 0;
    padding: 0;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

input[type="text"]{
    padding: 6px 10px;
    margin: 3px;
    font-size: 1.3rem;
    width: 400px;
    border-radius: 20px;
}
.noprint{
    padding: 3rem 10rem;
    background-color: aliceblue;
}

.noprint h1{
    font-size: 3rem;
}
textarea{
    padding: 5px;    
}

.spaced{
    padding-bottom: 5px;
}

.hidden{
    display: none;
}

hr{
    border-top: 2px solid rgb(155, 155, 155);
    width: 80%;
}

@media print{
    .noprint{
        display: none;
    }
}